.sayamtd{
	padding:1px;
	border:solid 1px rgb(240,240,240);
	color:blue;
	background-color:rgb(240,240,240);
	font-size:11px;
	text-align:left;
}

.saytextd{
	padding:1px;
	border:solid 1px rgb(240,240,240);
	color:blue;
	font-size:11px;
	background-color:rgb(240,240,240);
	text-align:left;
}
.table_det,tdetalles{	
	background-color:#dcdcdc;
	color:#000000;
	font-family:arial;
	font-size:11px;
}

#adetalles{
	height:200px;	
	overflow: auto;
}

/* dibujando la subpantalla. */
#area_bloqueo{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#pantalla{
	border:solid 3px gray;
	width:fit-content;
	height:fit-content;
	margin:10% 10%;
}
#barra_sencilla{
	background:green;
	top:0px;
	left:0px;
	box-shadow:white 0px 10px 10px;
	color:yellow;
	text-align:center;
	padding:1px;
	margin-bottom:5px;
	border-radius:10px 10px 0px 0px;
}
#btopciones button{
   font-size:12px;
   padding:1px;
}
#btopciones{
    text-align:center;
}
 